//für alle die headline im class Namen haben 
[class*='headline'] {
  font-family: $font; 
}

.headline--lg {
  font-size: 24px;
}

.headline--centered {
  text-align: center;
}

.headline--grey {
  color: $color-grey;
}

.headline-caption {
  width: 400px;
  margin: 32px auto; //top and bottom, left and right
  line-height: $line-height;
  color: $color-grey;
  font-style: italic;
}