.u-padding-lg {
  padding: 12px 24px;
}

.u-padding-sm {
  padding: 4px 8px;
}
.u-padding-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.u-margin-se-1 {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.u-inline {
  display: inline;
}
