[class*='button'] {
  border: none;

  &:hover {
    background-color: $color-middle-grey; 
  }
}

[class*='button-icon'] {
  background-color: transparent;
  border: transparent;
}

.button-light {
  background-color: $color-dark-white; 
  color: $color-black;
  border: none;
}

.button-dark {
  background-color: $color-black;
  color: $color-white;

  &:hover {
    color: $color-black;
  }
}

.button-centered {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.button-icon-search {
  padding: 16px;
  color: $color-light-grey;

  &:hover {
    background-color: $color-middle-grey;
    color: $color-black;
  }

  @include respond-to-mobile() {
    display: none;
  }
}

.button-icon-toggler {
  display: none;
  color: $color-light-grey;
  
  @include respond-to-mobile() {
    display: block;
    position: absolute;
    top: 24px;
    right: 16px;
    z-index: 200;
  }
}