.button {
  border: none;

  &:hover {
    background-color: $color-middle-grey; 
  }
}

.button-icon {
  border: none;
  background-color: transparent;
}

.button-light {
  background-color: $color-dark-white; 
  color: $color-black;
  border: none;
}

.button-dark {
  background-color: $color-black;
  color: $color-white;

  &:hover {
    color: $color-black;
  }
}

.button-centered {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
