.footer {
  background-color: $color-black;
  height: 280px;
  opacity: 0.6;
  margin-top: 150px;

  &:hover {
    opacity: 1;
  }

  &__icons {
    color: $color-white;
    margin: 10px;
  }

  @include respond-to-mobile() {
    height: 220px;
  }
}