.gallery {
  &__item {
    width: calc(100% / 4);
    height: 50%;
    padding-top: 16px;
    padding-bottom: 16px;
    display: none;

    &:hover {
      opacity: 0.5;
    }
    
    &.is-displayed {
      opacity: 1;
      display: block;
      animation: fade-in 1.5s;
    }

    @include respond-to-mobile() {
      width: 100% !important;
      padding: 5px;
      margin: 0;
    }
   }
}
