.gallery {
  display: flex;
  flex-wrap: wrap;

  @include respond-to-mobile() {
    display: block;
  }

  &__item {
    width: calc((100% / 4) - 20px);
    margin: 10px;
    display: none;

    &:hover {
      opacity: 0.5;
    }
    
    &.is-displayed {
      opacity: 1;
      display: block;
      animation-name: fade-in 1.5s;
    }

    @include respond-to-mobile() {
      width: 100%;
      padding: 5px;
      margin: 0;
    }
  }
}

.button-light {
  background-color: #f1f1f1; 
  color: $color-black;
  margin-top: 64px;
  border: none;
  left: 50%;
  position: relative;
  transform: translate(-50%);

  &:hover {
      background-color: $color-middle-grey; 
  }
}
