.gallery {
  display: flex;
  flex-wrap: wrap;

  @include respond-to-mobile() {
    display: block;
  }

  &__item {
    width: calc((100% / 4) - 20px);
    height: 50%;
    margin: 10px;
    display: none;

    &:hover {
      opacity: 0.5;
    }
    
    &.is-displayed {
      opacity: 1;
      display: block;
      animation-name: fade-in 1.5s;
    }

    @include respond-to-mobile() {
      width: 100%;
      padding: 5px;
      margin: 0;
    }
   }
}
