[class*='col'] {
  padding-left: 16px;
  padding-right: 16px;
}

.row {
  display: flex;
  margin-left: -16px;
  margin-right: -16px;

  @for $i from 1 through 12 {
    $width: percentage(($i / 12));

    .col-lg-#{$i} {
      width: #{$width};
    }
  }
}
