.row {
  display: flex;
  margin-left: -16px;
  margin-right: -16px;

  [class*='col'] {
    padding-left: 16px;
    padding-right: 16px;
  }
  .col-lg-3 {
    flex: 25%;
  } 

  .col-lg-4 {
    flex: calc(100% / 3);

    img {
      border-radius: 3%;
    }
  }

  .col-lg-8 {
    flex: calc((100%/3)*2);
  }

  .col-lg-6 {
    flex: 50%;
  }
}


