header {
  @include flex(space-between, center); 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  @include respond-to-mobile() {
    display: block;
  }
  
  .navbar {
    &__item {
      display: inline-block;
      padding: 15px 20px;

      @include respond-to-mobile() {
        &:not(:first-child) {
          display: none;
        }

        &.is-responsive{
          display: block;
          background-color: $color-white;
        }
      }

      &:hover {
        background-color: $color-middle-grey;
        color: $color-black;
      }
    }

    &__link {
      text-decoration: none;
      color: $color-light-grey;
      
      &:hover {
        color: $color-black;
      }
    }
  }

  &.is-scrolled {
    background-color: $color-white;
    color: $color-black;
    animation-name: slide-in 0.4s;

    .navbar .navbar__link {
      color: $color-black;
    }
    
    @include respond-to-mobile() {
      .button-icon-toggler {
        color: $color-black;
      }
    }
  }
}