//für alle die headline im class Namen haben 
[class*='headline'] {
  font-family: $font; 
}

.headline--lg {
  font-size: 24px;
}

.headline--xlg {
  font-size: 36px;
}

.headline--centered {
  text-align: center;
}

.headline--grey {
  color: $color-light-grey;
}

.headline-section {
  @include centered(50%, 50%);
  color: $color-white;
  letter-spacing: 10px;
}

.headline-caption {
  max-width: 100%;
  width: 400px;
  margin: 32px auto; //top and bottom, left and right
  line-height: $line-height;
  color: $color-light-grey;
  font-style: italic;
}