header {
  @include flex(space-between, center); 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  
  .navbar {
    &__item {
      display: inline-block;
      padding: 15px 20px;

      &:hover {
        background-color: $color-middle-grey;
        color: $color-black;
      }
    }

    &__link {
      text-decoration: none;
      color: $color-light-grey;
      
      &:hover {
        color: $color-black;
      }
    }
  }

  .fa-search {
    padding: 22px 22px;

    &:hover {
      background-color: $color-middle-grey;
      color: $color-black;
    }
  }

  &.is-scroll {
    background-color: $color-white;
    color: $color-black;
    animation-name: slide-in 0.4s;

    .navbar .navbar__link {
      color: $color-black;
    }
  }
}
