@mixin centered($horizontal, $vertical) {
  left: $horizontal; //Element startet bei 50%
  position: absolute;
  top: $vertical;
  transform: translate(-$horizontal, -$vertical); //um 50% zurück verschieben, um Mitt zu erreichen 
}

@mixin flex($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin backgroundImg($url, $height, $opacity) {
  background: url($url) center / cover no-repeat; //cover --> Bild nimmt gesamte Fläche ein
  background-attachment: fixed; //Bild ist fix im Bildschirm, läuft nicht mit scroll
  height: $height; //Bild wird komplett angezeigt, egal wie groß Section ist
  position: relative;
  opacity: $opacity;
}

@mixin respond-to-mobile() {
  @media (max-width: 600px) {
    @content;
  }
}