
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding: 10px 62px 0px 62px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  color: #fff;
  flex-direction: column;

  &__image {
    width: 30%;
    animation: zoom-in 1.5s;
  }

  &.is-visible {
    @include flex(center, center); 
  }

  &__close {
    position: absolute;
    top: 24px;
    right: 24px;
  }
}
