.progress-bar {
    background-color: #616161;
    color: #fff;
    padding: 0;
}

.progress {
    background-color: #f1f1f1;
    color: #000;
}

.w-90 {
    width: 90%;
}

.w-85 {
    width: 85%;
}

.w-75 {
    width: 75%;
}


