.progress-bar {
    background-color: $color-dark-grey;
    color: $color-white;
    padding: 0;
}

.progress {
    background-color: $color-white;
    color: $color-black;
}

.w-90 {
    width: 90%;
}

.w-85 {
    width: 85%;
}

.w-75 {
    width: 75%;
}


