.section-hero {
  @include backgroundImg('img/parallax1.jpg', 100vh, 0.75);

  @include respond-to-mobile() {
    @include backgroundImg('/img/parallax1.jpg', 75vh, 0.75);
  }

  &__headline {
    @include centered(50%, 50%); //nutzen des Mixin
    background-color: $color-black;
    color: $color-white;
    letter-spacing: 10px;
    padding: 12px 24px; 
    
    @include respond-to-mobile() {
      text-align: center;
    }
  }
}

.section--grey {
  background-color: $color-dark-grey;
  color: $color-white;
}

.section-portfolio-parallax {
  @include backgroundImg('/img/parallax2.jpg', 40vh, 0.75);

  @include respond-to-mobile() {
    @include backgroundImg('/img/parallax2.jpg', 60vh, 0.75);
  }
}

.section-contact-parallax {
  @include backgroundImg('/img/parallax3.jpg', 40vh, 0.75);

  @include respond-to-mobile() {
    @include backgroundImg('/img/parallax3.jpg', 60vh, 0.75);
  }
}

.section--lg {
  margin-bottom: 64px;
}

.section--xlg {
  margin-bottom: 100px;
}
