.section-hero {
  @include backgroundImg('/img/parallax1.jpg', 100vh, 0.75);
  @include respond-to-mobile() {
    @include backgroundImg('/img/parallax1.jpg', 75vh, 0.75);
  }

  &__headline {
    @include centered(50%, 50%); //nutzen des Mixin
    background-color: $color-black;
    color: $color-white;
    letter-spacing: 10px;
    padding: 12px 24px; 
    
    @include respond-to-mobile() {
      text-align: center;
    }
  }
}

.section-aboutMe {
  .row {
    i, p {
      display: inline;
    }

    img {
      opacity: 0.60;
    }

    @include respond-to-mobile() {
      .col-lg-6 {
        &:last-child {
          display: none;
        }
      }
    }
  }
}

.section--grey {
  background-color: $color-dark-grey;
  color: $color-white;

  .row {
    @include respond-to-mobile() {
      max-width: 100%;
      display: block;
      margin: 0;
    }
  }
}

.section-portfolio {
  @include backgroundImg('/img/parallax2.jpg', 40vh, 0.75);
  @include respond-to-mobile() {
    @include backgroundImg('/img/parallax2.jpg', 60vh, 0.75);
  }
}

.section-contact-parallax {
  @include backgroundImg('/img/parallax3.jpg', 40vh, 0.75);
  @include respond-to-mobile() {
    @include backgroundImg('/img/parallax3.jpg', 60vh, 0.75);
  }
}

.section-contact {

  .row {
    @include respond-to-mobile() {
      display: block;
      margin: 0;
    }

    .col-lg-6 {
      @include respond-to-mobile() {
        padding: 0;
      }
    }
  }
  
  input {
    width: 100%;
    height: 45px;
    padding: 8px;
    border: 1px solid $color-light-grey;
  }

  .button-dark {
    background-color: $color-black;
    color: $color-white;
    margin-top: 15px;
    float: right;
    border-color: transparent;

    &:hover {
      background-color: $color-middle-grey;
      color: $color-black;
    }
  }
}

.section--lg {
  margin-bottom: 64px;
}