.u-no-pad-mobile {
  @include respond-to-mobile() {
    padding: 0;
  }  
}

.u-p-lg {
  padding: 12px 24px;
}

.u-p-sm {
  padding: 4px 8px;
}
.u-ptb-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.u-pb-64 {
  padding-bottom: px;
}

.u-no-mar-mobile{
  margin: 0;
}

.u-mse-1 {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.u-mtb-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.u-mt-15 {
  margin-top: 15px;
}

.u-mt-64 {
  margin-top: 64px;
}

.u-inline {
  display: inline;
}

.u-block-mobile {
 @include respond-to-mobile() {
  display: block;
 } 
}

.u-w-8 {
  width: 8%;
}

.u-w-75 {
  width: 75%;
}

.u-w-85 {
  width: 85%;
}

.u-w-90 {
  width: 90%;
}

.u-w-full {
  max-width: 100%;
}

.u-hidden-mobile {
  @include respond-to-mobile {
    display: none;
  }
}

.u-form {
  width: 100%;
  height: 45px;
  padding: 8px;
  border: 1px solid $color-light-grey;
}

.u-fr {
  float: right;
}

.u-border-r-3 {
  border-radius: 3%;
}

.u-opacity-06 {
  opacity: 0.6;
}