.u-no-pad-mobile {
  @include respond-to-mobile() {
    padding: 0;
  }  
}

.u-p-lg {
  padding: 12px 24px;
}

.u-p-sm {
  padding: 4px 8px;
}

.u-ptb-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.u-no-mar-mobile{
  @include respond-to-mobile() {
    margin: 0;
  }
}

.u-mt-15 {
  margin-top: 15px;
}

.u-mtb-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.u-mt-64 {
  margin-top: 64px;
}

.u-d-inline {
  display: inline;
}

.u-d-block-mobile {
 @include respond-to-mobile() {
  display: block;
 } 
}

.u-w-8 {
  width: 8%;
}

.u-w-full {
  max-width: 100%;
}

.u-w-full-mobile {
  @include respond-to-mobile() {
   width: 100% !important; 
  }
}

.u-hidden-mobile {
  @include respond-to-mobile {
    display: none;
  }
}

.u-form {
  width: 100%;
  height: 45px;
  padding: 8px;
  border: 1px solid $color-light-grey;
}

.u-float-right {
  float: right;
}

.u-border-r-3 {
  border-radius: 3%;
}

.u-opacity-06 {
  opacity: 0.6;
}
