.u-padding-lg {
  padding: 12px 24px;
}

.u-padding-sm {
  padding: 4px 8px;
}
.u-padding-tb-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.u-padding-b-64 {
  padding-bottom: px;
}

.u-margin-se-1 {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.u-margin-tb-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.u-margin-l-12 {
  margin-left: 12px;
}
.u-inline {
  display: inline;
}
